  <%= link_to "Models Index", @models %>
  <%= link_to "Builder Index", builders_path %>

<p><h1>All Builders</h1></p>
<% builders = @instrument_builders.order(created_at: :asc) %>

<% builders.each do |builder| %>
  <h2>Builder:<%= builder.name %></h2>
  <p>Created at: <%= builder.created_at %></p>
  <% end %>
