<p><%= @instrument_builder.id %></p>
<p>Founded in: <%= @instrument_builder.year_founded %></p>
<h1><%= @instrument_builder.name %></h1>
<p>Still in business? <%= @instrument_builder.in_business %></p>